---
import Blog from "@layouts/blog";
import Date from "@components/utilities/Date";
import { published, getRSS } from "@data/post"

export async function getStaticPaths({ rss }) {
	const markdownFiles = await Astro.glob('../content/**/*.md');
	const posts = published( markdownFiles );
	
	rss(getRSS(markdownFiles));

	return posts.map((post) => {
		return {
			params: { post: post.slug },
			props: { post }
		};
	})
}

// Destructure to get both `Astro.props.post` and `Astro.props.post.Content`
const { post: { Content }, post } = Astro.props;
---
<Blog title={post.title}>
	<div class="post-header container">
		<h1 class="post-title">{post.title}</h1>
		<div class="post-date">
			<Date date={post.date}/>
		</div>
	</div>
	<div class="content container">
		<Content />
	</div>
</Blog>


<style>
	.post-header {
		margin-top: 60px;
		margin-bottom: 40px;
	}
	.post-date {
		font-size: 0.75rem;
	}

	.content {
		margin-bottom: 40px;
	}
</style>