---
import slug from "slug";
import Blog from "@layouts/blog";
import { Markdown } from 'astro/components';


export async function getStaticPaths() {
  const posts = await Astro.fetchContent('../content/*.md');

  return posts.map((post) => {
    return { 
        params: { post: slug(post.title) },
        props: { post }
    };
  })
}

const { post } = Astro.props;
---
<Blog title={post.title}>
	<div class="content">
		<Markdown content={post.astro.source} />
	</div>
</Blog>
