---

---
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Astro</title>
	<link rel="stylesheet" type="text/css" href={Astro.resolve('../style/style.scss')} />
</head>

<body>

	<div class="content">
		<h1>Astro</h1>
		I'm baby actually marfa heirloom blog mixtape. Street art portland echo park pour-over af food truck
		chicharrones pop-up shaman venmo iPhone waistcoat squid. Swag enamel pin sriracha biodiesel celiac, cold-pressed
		hammock pok pok kale chips tumblr shoreditch. Typewriter kitsch everyday carry quinoa ugh skateboard normcore
		umami twee. Blog skateboard cray hammock snackwave brooklyn neutra intelligentsia franzen.

		<h2>Lo-fi</h2>
		Lo-fi health goth keytar man bun hoodie wayfarers glossier trust fund, portland aesthetic marfa vegan drinking
		vinegar. Four loko chillwave tote bag, la croix williamsburg jianbing salvia tattooed. 8-bit thundercats umami,
		edison bulb wayfarers celiac disrupt la croix four loko banh mi biodiesel. Kinfolk sriracha waistcoat bicycle
		rights sartorial. Pug la croix 8-bit vice, food truck semiotics portland pitchfork flexitarian. Artisan
		sustainable twee celiac pabst you probably haven't heard of them deep v tote bag godard banjo vape.

		<h2>Swag</h2>
		Gastropub la croix venmo taiyaki portland photo booth. Occupy swag adaptogen marfa. Polaroid flannel
		post-ironic, plaid swag chillwave seitan pok pok stumptown. Venmo iPhone butcher fingerstache. Echo park edison
		bulb asymmetrical kogi mixtape next level cronut shaman.
	</div>

</body>

</html>