---
import { all } from "@data/post"
import Blog from "@layouts/blog";
import Preview from "@components/blog/preview";

const posts = all( await Astro.fetchContent('../content/*.md') );
---

<Blog title="Blank Slate Blog">
	<div class="content container">
		{posts.map((p) => <Preview post={p} />)}
	</div>
</Blog>
