<div>
	<h3>🌞 The weather is sunny somewhere</h3>
</div>

<style>
	div {
		background-color: #fff2ac;
		text-align: center;
		padding: 50px 0;
		margin: 20px 0;
		border-radius: 30px;
	}

	h3 {
		margin: 0;
		font-weight: 500;
	}
</style>