@use "reset";
@use "variables";
@use "layout";
@use "content";

body {
	line-height: 1.6;
	font-size: 112.5%;
	tab-size: 4;
	font-weight: 400;
	font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
	background: var( --background-color );
	color: var( --text-color );
}	