@use "reset";
@use "variables";
@use "layout";

body {
	line-height: 1.6;
	font-size: 112.5%;
	tab-size: 4;
	font-weight: 400;
	font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
	background: var( --background-color );
	color: var( --text-color );
}	

.container {
	width: var( --content-width );
	margin-left: auto;
	margin-right: auto;
}
.content {
	@extend .container;
	padding-bottom: 32px;


	a {
		color: hsl(188 74% 50%);

		&:hover {
			color: hsl(188 74% 70%);
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 2.4em;
		margin-bottom: 1.125em;
		
		a {
			color: inherit;
			text-decoration: none;

			&:hover, &:focus {
				color: inherit;
				text-decoration: underline;
			}
		}
	}

	p {
		margin-bottom: 30px;
	}

	pre {
		padding: 33px 22px;
		border-radius: 18px;
	}
}
