<div class="bottom">
	&copy; Simple Blog {(new Date()).getFullYear()}
</div>

<style>
	.bottom {
		background-color: var( --background-color-alt );
		padding: 20px 5vw;
		text-align: center;
		font-size: .85rem;
	}
	
	a { 
		font-weight: bold;
		color: var( --text-color-alt );
		text-decoration: none;
	}
</style>