<div class="top">
	<div class="logo container">
		<a href="/">Blank Slate</a>
	</div>
</div>

<style>
	.top {
		background-color: var( --background-color-alt );
		margin-bottom: 20px;
	}

	.logo { 
		padding: 60px 0;
	}
	
	/**
		This is kind of a hack.
		ch width is impacted by the elements font size.
		Maybe rethink ch usage?
	*/
	a { 
		font-size: 1.4rem;
		font-weight: bold;
		color: var( --text-color-alt );
		text-decoration: none;
	}
</style>